# Customer Transformer

- sklearn pipeline
- sklearn_pandas DataFrameMapper

---

## Import Modules

In [3]:
# Standard
import pandas as pd

# DataFrame Mapper
from sklearn_pandas import DataFrameMapper

## Toy Data

In [4]:
data = pd.DataFrame({'pet':      ['cat', 'dog', 'dog', 'fish', 'cat', 'dog', 'cat', 'fish'], 
                     'children': [4., 6, 3, 3, 2, 3, 5, 4], 
                     'salary':   [90., 24, 44, 27, 32, 59, 36, 27]})

In [5]:
data

    pet  children  salary
0   cat       4.0    90.0
1   dog       6.0    24.0
2   dog       3.0    44.0
3  fish       3.0    27.0
4   cat       2.0    32.0
5   dog       3.0    59.0
6   cat       5.0    36.0
7  fish       4.0    27.0

## Sklearn - Custom Transformer

## Sklearn DataFrameMapper